@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
h1, h2, h3, h4, p {
  font-family: 'Della Respira', serif;
}

.entire-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entire-content .form-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #B8B39A;
  padding: 40px 200px 200px;
  margin-top: 40px;
}

.entire-content .form-part input {
  font-size: 15px;
  width: 100%;
  padding: 3px;
}

.entire-content .form-part .previewIMG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entire-content .form-part .previewIMG img {
  width: 300px;
  height: 300px;
  padding-top: 10px;
}

.entire-content .form-part .form {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.entire-content .form-part .form .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.entire-content .form-part .form .data input {
  width: 400px;
  font-size: 25px;
}

.entire-content .form-part .form button {
  margin-top: 20px;
  padding: 6px 20px;
  color: white;
  background-color: #4F454E;
  -webkit-transition: 1s;
  transition: 1s;
}

.entire-content .form-part .form button:hover {
  -webkit-box-shadow: 10px 28px 29px 0px #4f454e;
          box-shadow: 10px 28px 29px 0px #4f454e;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.entire-content .form-part .linkLogIn {
  background-color: #E8D6BF;
  color: black;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: changingColor 20s infinite;
          animation: changingColor 20s infinite;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9b2d2d;
  color: white;
  margin-top: 30px;
  padding: 20px;
}

.error .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 20px;
}

.error button {
  padding: 5px 20px;
  background-color: #B8B39A;
  color: #4F454E;
  -webkit-transition: 1s;
  transition: 1s;
}

.error button:hover {
  padding: 5px 40px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.modal .content {
  background-color: #B8B39A;
}

@-webkit-keyframes changingColor {
  0% {
    background-color: #B8B39A;
    color: black;
  }
  20% {
    background-color: #4F454E;
    color: white;
  }
  40% {
    background-color: #E8D6BF;
    color: black;
  }
  60% {
    background-color: #E4B8A6;
  }
  100% {
    background-color: #DB8682;
    color: black;
  }
}

@keyframes changingColor {
  0% {
    background-color: #B8B39A;
    color: black;
  }
  20% {
    background-color: #4F454E;
    color: white;
  }
  40% {
    background-color: #E8D6BF;
    color: black;
  }
  60% {
    background-color: #E4B8A6;
  }
  100% {
    background-color: #DB8682;
    color: black;
  }
}
/*# sourceMappingURL=SignUp.css.map */