.users{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (max-width: 600px){
    .users{
      display: flex;
      flex-direction: row;

       
        
        
    }
}