@import "../../../shared/components/color.scss";

.one-place {
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: black;
  font-family: "Della Respira", serif;
  margin: 20px;
  position: relative;

  
  height: 40%;
  .content {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    transform: translateY(-50px);
    h1 {
      padding-bottom: 20px;
      padding-top: 10px;
    }
    p {
      font-weight: 300;
      text-align: center;
      padding: 10px;
      width: 500px;
    }
    .extra-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 1s;
    }
  }

}

.modal{
  
  
  border-radius: 20px;
  background-color: white;
  .content{
    padding: 50px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .yesno{
     display: flex;
     padding-top: 10px;
     flex-direction: row;
     .button{
       margin: 20px;
       padding: 10px 30px 10px 30px;
       transition: 1s;
       background-color: $primary-color;
       color: white;
       font-weight: bold;
       &:hover{
         cursor: pointer;

         transform:translateY(-5px)
       }
     }
     .yes{
       &:hover{
         background-color: red;
       }
     }
     .no{
       &:hover{
         background-color: green;
       }
     }
    }    
  }
}

img {
  height: 500px;
  width: 600px;

  
  object-fit: cover;
}
.buttons {
  display: flex;
  flex-direction: row;
  .button {
    padding: 10px;
    transition: 1s;
    &:hover {
      background-color: white;
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: -2px 14px 5px 0px rgba(0, 0, 0, 0.75);
      font-weight: bold;
    }
  }
  .delete {
    &:hover {
      background-color: red;
      color: white;
    }
  }
}
.modal{
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

@media only screen and (max-width: 900px) {
  .one-place {
   
    img {
      height: 300px;
      
    }
  }
}

@media only screen and (max-width: 550px) {
  .one-place {
    img {
      height: 100%;
      width: 100%;
    }
    .content{
        width: 100%;
        border-radius: 20px;
        transform: translateY(-30px);
        p {
            width: 100%;
          }
    }
  }
}
