@import "../../../shared/components/color.scss";
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
.filling-form {
  h1 {
    font-size: 50px;
    font-family: "Gochi Hand", cursive;
  }
  display: flex;
  width: 100vw;
  font-family: "Gochi Hand", cursive;

  flex-direction: row;
  img {
    align-self: center;
    width: 50vw;
    padding-right: 20px;
    border: 2px solid $primary-color;
  }
  form {
    display: flex;
    align-items: left;
    width: 50vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;

    .description-style {
      height: 10vh;
    }
    .content {
      position: relative;
      font-size: 40px;
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-top: 40px;
      //input and label
      input {
        border-width: 0 0 1px;
        border-bottom: 0.1px solid $primary-color;
        padding: 10px;
        width: 500px;
        font-size: 20px;
        padding: 5px;
        transition: 1s;
        
        &:hover {
          background-color: $primary-color;
        }
        &:focus {
          background-color: $secondary-color;
          color: white;
          width: 100%;
          border: 3px solid antiquewhite;
          border-color: antiquewhite;
        }
      }
      label {
        
        
        opacity: 0.5;
        font-size: 20px;
        padding-bottom: 10px;
        transition: 1s;
      }
     
      input:focus + label
      {
        transform: translateY(-60px);
        font-weight: bolder;
        opacity: 1;
      }
      
      
    
    }

    textarea {
      border-width: 1px 1px 1px;
      border-bottom: 0.1px solid $primary-color;
      padding: 10px;
      width: 500px;
      font-size: 20px;
      padding: 5px;
      transition: 1s;
      &:hover {
        background-color: $primary-color;
      }
      &:focus {
        background-color: $secondary-color;
        color: white;
        width: 100%;
      }
    }
    button {
      width: 25%;
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .filling-form {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    form {
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      .content {
        display: flex;
        align-items: center;
        input {
          text-align: center;
          width: 100%;
        }
        textarea {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
