.no-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.all-places {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-places h1 {
  padding-top: 20px;

  font-size: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  border-radius: 25%;
}
.map-below {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Icon {
  color: white;
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 20px;
}
.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  position: relative;
}

.pop-up img {
  object-fit: contain;
  width: 100%;
  height: 50%;
}
.pop-up h3 {
  padding-bottom: 5px;
}
.pop-up h6:hover {
  background-color: burlywood;
  color: white;
  cursor: pointer;
}
.pop-up h6 {
  transition: 1s;
  padding: 5px 20px 5px 20px;
}
@media only screen and (max-width: 1420px) {
  .all-places {
    display: flex;
    flex-direction: column;
  }
}
